.cardContainer{
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.cardContainer .card{
  position: relative;
  cursor: pointer;
}

.cardContainer .card .face{
  width: 330px;
  height: 240px;
  transition: 0.5s;
}

.cardContainer .card .face.face1{
  position: relative;
  background: #AB987A;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(140px);
}

.cardContainer .card:hover .face.face1{
  background: #FF533D;
  transform: translateY(0);
}

.cardContainer .card .face.face1 .content{
  transition: 0.5s;
}

.cardContainer .card:hover .face.face1 .content{
  opacity: 1;
}

.cardContainer .card .face.face1 .content img{
  max-width: 280px;
  border:2px solid#FF533D ;
  border-radius: 5px;
}

.cardContainer .card .face.face1 .content h3{
  margin: 0;
  padding: 0;
  color: #F5F5F5;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  background-color: #AB987A;
  border:2px solid #0F1626
}

.cardContainer .card .face.face2{
  position: relative;
  background: #F5F5F5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px black;
  transform: translateY(-100px);
}

.cardContainer .card:hover .face.face2{
  transform: translateY(0);
}

.dietas{
  display: grid;
  grid-template-columns: repeat(4,0.5fr);
  margin-bottom: 0;
}
.cardContainer .card .face.face2 .content p{
  margin: 2px;
  color: #0F1626;
}

.cardContainer .card .face.face2 .content .button{
  margin-top: 2px;
  display:  inline-block;
  text-decoration: none;
  font-weight: 900;
  color: #333;
  padding: 5px;
  border: 1px solid #333;
  border-radius: 20%;
}

.cardContainer .card .face.face2 .content .button:hover{
  background: #333;
  color: #fff;
}

.dietasTitle{
  font-weight: bold;
}

/* media queries */
@media screen and (min-width: 768px){
  
  .boxImage{
      width: 300px;
      height:400px;
  }
  
}