.searchContainer{
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    background-color: #F5F5F5;
}

.searchInput{
    border: transparent;
    padding: 10px;
    background: transparent;
    width: 70%;
}

.searchButton{
    padding: 10px;
    font-weight: bold;
    border-radius: 10px;
    border-color: transparent;
    background-color: #FF532D;
    color: #0F1626;
    transition: all 0.3s ease-in-out;
}

.searchButton:hover{
    font-weight: bold;
    color:#F5F5F5;
    cursor: pointer;
}