.filter{
    border-radius: 10px;
    padding: 5px 0 5px 0;
    background-color: #F5F5F5;
    border: none;
    color: #0F1626;
    width: 90%;
    max-width: 400px;
    cursor: pointer;
    font-weight: bolder;
    transition: all 0.3s ease-in-out;
}
.filter:hover{
    color: #F5F5F5;
    background: #0F1626;
}
.filterContainer{
    margin-left: 50px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    gap:10px;
}
.button{
    border-radius: 10px;
    padding: 10px;
    background-color: #F5F5F5;
    border: none;
    color: #0F1626;
    width: 50%;
    max-width: 200px;
    cursor: pointer;
    font-weight: bolder;
    transition: all 0.3s ease-in-out;
}
.button:hover{
    color: #F5F5F5;
    background: #AB987D;
}

/* media queries */
@media screen and (max-width: 768px) {
    .filterContainer{
        margin-left: 30px;
        margin-top: 80px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        gap:10px;
    }
    .button{
        width: 50%;
        max-width: 100px;
    }
}