:root {
    --white:    #F5F5F5;
    --red:      #FF533D;
    --dark-red: #AB987A;
    --black:    #0F1626;
}
.page_wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    height: fit-content;        
    background: var(--black);
    box-shadow: 0 2rem 3rem var(--dark-red);
}

.numbers_layer {
    position: absolute;
    top: 30rem;
    height: 90%;
    width: 100%;
}

.oops_message {
    position: absolute;
    width: 20rem;
    left: 50%;
    bottom: 5rem;
    margin-left: -10rem;
    font-weight: 400;
    text-align: center;
    color: var(--white);
}

.paragraf{
    color: var(--dark-red);
    font-size: 40px;
}
.titlle{
    color: var(--red);
}
.oops_message > .button_err {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        margin-top: .5rem;
        background: var(--black);
        color: var(--black);
        padding: 0;
        line-height: 2rem;
        border-radius: 1rem;
        -webkit-transition: all 120ms ease-in;
        transition: all 120ms ease-in;
        cursor: pointer;
    }

.oops_message > .button_err:hover,
        .oops-message > .button_err:focus {
            background: var(--dark-red);
            color: var(--white);
}
.butinter{
    background-color: transparent;
    color: var(--red);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
}